a:link,
a:visited {
  color: #bc9810;
}

a:hover {
  color: white;
}

body {
  background-color: white;
  font-size: 24px;
}

h1 {
  text-align: center;
}

a.active {
  text-decoration: underline #bc9810;
}

.navSubList {
  padding-left: 25px;
  font-size: 18px;
}

.photoRight {
  float: right;
}

#contentDiv {
  padding: 50px;
  grid-area: 1 / 2;
}

#mainDiv {
  display: grid;
  grid-template-columns: 200px auto;
}

#sidebarDiv {
  background-color: #0f411c;
  color: #bc9810;
  text-align: left;
  height: 100%;
  bottom: 0;
  position: fixed;
  width: 200px;
  padding: 10px;
  grid-area: 1 / 1;
}
